$notifyBg:#fff4ea;
$notifyText:  #252525;
$notify: #FC830A;
$green: #08bd37;
$lightGreen: #08bd11;
$sortText:#989898;
$searchBorder: #bdbdbd;
$searchPlaceHolder: #8F8B8B;
$cardBg:  #FFFFFF;
$loaderBg: #f6f7f8;
$loaderBg2:  #f7f5f5;
$loaderBg3:  #dddddd;
$filterText: #3F3F3F;
$templateheadText:  #333447;
$templateFoot: #F9F9F9;
$cardShadow: '0px 4px 30px rgba(0, 0, 0, 0.08)';
$scrollBar: #252525;